#Operating system files
.DS_Store
__pycache__
.pytest_cache/
/py_cache
.vscode

#Flight history files
stats_history/
2*.csv*

#Configuration files
config/config.yml
firebase.json

#Cache files
icao_cache.json

#Virtual environments
venv/

#GUI assets
textures/

#Log files
*.log

#TODO
TODO.md