#Useless
.DS_Store
__pycache__
/py_cache
.vscode

#.csv flight history
stats_history/
2*.csv

#Config files
/config/config.yml
firebase.json

#virtual environemnt
/venv/

#GUI elements
/textures

#Log files
*.log

#Firebase data and scripts
firebase/