#Useless
.DS_Store
__pycache__
/py_cache
.vscode

#.csv flight history
stats_history/

#Config files
/config/config.yml
/camera_module/home.yaml

#GUI elements
/textures

#ML dataset
/tests/image_recognition_test/data
/tests/image_recognition_test/model

#compiled
/camera_module/build
/tests/image_recognition_test/build

#images
/camera_module/test_pictures
/camera_module/images

